@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-tint: 8 95 212;
  --color-info: 0 122 255;
  --color-accent: 143 143 148;
  --color-primary: 0 0 0;
  --color-success: 71 159 113;
  --color-warning: 255 87 19;
  --color-error: 205 45 32;
  --color-secondary: 242 242 247;
  --color-main: 255 255 255;
  --color-separator: 198 198 200; /* #C6C6C8 */
}
html {
  touch-action: manipulation;
  scroll-behavior: smooth;
  background-color: #ffffff;
}
html.dark {
  --color-tint: 62 166 255;
  --color-primary: 255 255 255;
  --color-secondary: 28 28 30;
  --color-main: 0 0 0;
  --color-separator: 56 56 58; /* #38383A */
  background-color: #000000;
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
}
@layer base {
  /* Styling HTML tags globally */
  *,
  ::before,
  ::after {
    @apply border-separator text-default;
  }

  h1 {
    @apply text-4xl md:text-5xl font-bold leading-tight tracking-tight mb-4;
  }

  h2 {
    @apply text-3xl md:text-4xl font-bold leading-tight mb-4;
  }

  h3 {
    @apply text-2xl md:text-3xl font-semibold leading-snug mb-4;
  }

  h4 {
    @apply text-xl md:text-2xl font-semibold mb-4;
  }

  h5 {
    @apply text-lg font-medium mb-4;
  }

  h6 {
    @apply text-base font-medium uppercase tracking-wide mb-4;
  }

  p {
    @apply text-base leading-7 text-medium mb-6;
  }
  a {
    @apply decoration-0 text-inherit;
  }
  input:focus,
  textarea:focus,
  select:focus {
    @apply outline-none;
  }
  select,
  textarea,
  input:not([type="radio"]):not([type="checkbox"]) {
    @apply outline-0 outline-offset-0  block w-full appearance-none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button,
  ::-webkit-calendar-picker-indicator {
    -webkit-appearance: none !important;
    @apply appearance-none m-0 opacity-0;
  }
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator,
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    @apply cursor-pointer bg-transparent absolute text-transparent size-auto inset-0;
  }
  input[type="radio"],
  input[type="checkbox"] {
    @apply outline-none ml-1 mr-2 scale-150 cursor-pointer;
  }
}
@layer components {
  /* Reusable UI blocks e.g. button, card */
  .btn {
    @apply h-12 cursor-pointer px-4 py-2 rounded-none font-medium inline-flex items-center justify-center;
  }
  .btn-primary {
    @apply btn bg-primary/95 text-white hover:bg-primary;
  }
  .v-input {
    @apply h-14 p-4 border rounded-xl text-sm focus:border-2 focus:outline-2;
  }
  .v-input.focus {
    @apply focus:border-2 focus:border-info focus:outline-2 focus:outline-info/50;
  }
  .v-input.error {
    @apply border-2 border-error;
  }
  .v-input.error.focus {
    @apply outline-error/50 border-error;
  }
  textarea.v-input {
    @apply h-auto;
  }
}
@layer utilities {
  /* Small custom helper classes */
  .xs {
    @apply w-full max-w-[380px] mx-auto;
  }
  .sm {
    @apply w-full max-w-screen-sm max-sm:px-6 mx-auto;
  }
  .md {
    @apply w-full max-w-screen-md max-md:px-6 mx-auto;
  }
  .lg {
    @apply w-full max-w-screen-lg max-lg:px-6 mx-auto;
  }
  .xl {
    @apply w-full max-w-screen-xl max-xl:px-6 mx-auto;
  }
  .xxl {
    @apply w-full max-w-screen-2xl max-2xl:px-6 mx-auto;
  }
  .fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .d-start {
    @apply flex items-center justify-start;
  }
  .d-center {
    @apply flex items-center justify-center;
  }
  .d-end {
    @apply flex items-center justify-end;
  }
  .d-between {
    @apply flex items-center justify-between;
  }
  .d-evenly {
    @apply flex items-center justify-evenly;
  }
  .d-around {
    @apply flex items-center justify-around;
  }
  .d-top {
    @apply flex items-start;
  }
  .d-middle {
    @apply flex items-center;
  }
  .d-bottom {
    @apply flex items-end;
  }
  .hover {
    @apply bg-secondary hover:bg-primary/20 cursor-pointer;
  }
}
